.patient-main {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  
  .patient-header {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
    margin-left: 10px;
  }
  
  .patient-tabs {
    display: flex;
    gap: 10px;
  }
  
  .tab-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #e6e6e6;
    color: black;
    text-decoration: none;
    transition: background-color 0.3s;
  }
  
  .tab-button:hover {
    background-color: #bfbfbf;
  }

  .invoices-section {
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    margin-bottom: 2rem;
    margin: 50px;
  }

  .invoice-header-container {
    display: flex;          /* Enables flexbox layout */
    align-items: center;    /* Vertically centers items */
}

.invoice-header-container button {
    margin-right: 10px;     /* Adds space between button and h2 */
    padding: 0.1rem 0.5rem;
    background-color: #09ACE0;
    border: none;
    border-radius: 6px;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

.invoice-header-container button:hover {
  background-color: #2980b9;

}



  
  