.SOC_container {
    display: flex;
    padding: 20px;
    height: 1500px;
    box-sizing: border-box; /* Ensures padding doesn't affect width calculations */
    overflow-y: auto;
    width: 100%;
}
/* .patientSidebar {
    width: 100%;
    height: 100%;
    flex-grow: 1;
    flex-basis: 25%;
    max-width: 25%;
} */

.main-content {
    width: 75%; /* Content takes up the remaining 75% */
    padding: 2rem;
    box-sizing: border-box; /* Add this to ensure padding is part of the width calculation */
    overflow: auto; /* Ensures content that exceeds height will scroll, not overflow */
}

.standard-of-care {
    flex-grow: 9;
    margin-top: 1rem;
    margin: auto;
}

.standard-of-care table {
    width: 100%; /* Ensures table doesn't extend beyond the content area */
    border-collapse: collapse;
    align-items: start;
}

.standard-of-care, .comments-section {
    border: 1px solid #ddd;
    padding: 8px;
    flex-direction: row;
}
