html, body {
    min-height: 100vh;
    margin: 0;
    overflow: hidden; 
}

.financial-reports-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%; 
    overflow: hidden;
    padding: 20px;
    flex: 1;
}

.top-section {
    display: flex;
    align-items: center;
    gap: 40px; 
    margin-bottom: 20px; 
}

.total-sales-card {
    margin-left: 20px;
    
}

.financial-report-card {
    width: 500px;
}

.total-sales-card,
.financial-report-card {
    padding: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    min-width: 200px;
    flex-shrink: 0;
}

.card-container {
    display: flex;
    flex-wrap: wrap; 
}

.reporting-section {
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    margin: 20px;
    overflow-y: auto; 
    flex: 1; 
    max-height: 53%;
}

.table-container {
    overflow-y: auto;
}


.time-period-selector-button {
    background-color: #09ace0;
    border: none;
    border-radius: 3px;
    font-size: 15px;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
    padding: 10px;
    margin-right: 2%;
}

.time-period-selector-button:hover {
    background-color: #2980b9;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.users-title {
    color: #757575;
}

.users-count {
    font-weight: bold;
}

.last-30-days {
    color: #757575;
    font-size: 14px;
}

.percentage-box {
    background-color: #e5f8e5;
    padding: 8px 16px;
    border-radius: 12px;
}

.percentage-text {
    color: green;
}

.financial-reports {
    flex: 1;
}
