.PatientSidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 300px;
  height: 100%;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  color: #333;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;
  margin-left: 5px;
}

.patientHeader {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}

.patientImg img {
  width: 125px;
  height: 125px;
  object-fit: cover;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  margin-right: 15px;
  border-radius: 10px;
}

.patientName {
  font-size: 24px;
  color: #333;
  margin: 0;
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.patientInfo {
  text-align: left;
  width: 100%;
  margin-bottom: 10px;
}

.patient-body {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 3px 10px;
}

.patient-body dt {
  font-weight: bold;
  color: #333;
  margin: 0;
}

.patient-body dd {
  margin: 0;
  font-size: 14px;
  color: #666;
}

.patient-owner,
.patientApp,
.patientSOC,
.patientDemeanor,
.patientPreferredDoctor {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f2f0f0;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.patientDemeanor h3,
.patient-owner h3,
.patientApp h3,
.patientSOC h3,
.patientPreferredDoctor h3 {
  font-size: 16px;
  color: #333;
  margin: 0 0 5px 0;
}

.patientDemeanor p,
.patient-owner p,
.patientApp p,
.patientSOC p,
.patient-body p,
.patientPreferredDoctor p {
  margin: 0 0 5px 0;
  font-size: 14px;
  color: #666;
}

.event-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  margin-bottom: 5px;
}

.soc-event-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  font-size: 14px;
  color: #666;
}

.soc-event-name {
  font-size: 14px;
  color: #666;
  font-weight: normal;
  grid-column: 1;
}

.soc-event-next-due {
  font-size: 14px;
  color: #666;
  grid-column: 2;
  margin-top: 0;
  text-align: right;
}

.next-due {
  text-align: right;
  margin-right: 10px;
}

.soc-event {
  text-align: left;
}

.owner-name {
  margin: 0 0 5px 0;
  font-weight: bold;
}

.demeanor-container p {
  margin: 0;
}

.PatientSidebar h3,
.PatientSidebar p {
  margin: 0 0 5px 0;
}

.patientApp > div {
  margin-bottom: 5px;
}

.patientApp p {
  margin: 0 0 3px 0;
}
