.PatientSidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 300px;
  height: 100%; /* Full viewport height */
  padding: 20px;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  color: #333;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;
}

.patientHeader {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 15px;
}

.patientImg img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  margin-right: 15px;
  border-radius: 10px;
}

.patientName {
  font-size: 24px;
  color: #333;
  margin: 0;
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.patientInfo {
  text-align: left;
  width: 100%;
}

.patient-body {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 5px 15px;
}

.patient-body dt {
  font-weight: bold;
  color: #333;
}

.patient-body dd {
  margin-left: 0;
  font-size: 14px;
  color: #666;
}

.patientDemeanor {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.demeanor-header {
  font-size: 16px;
  color: #333;
  margin-bottom: 8px;
}

.demeanor-container {
  display: flex;
  justify-content: space-between; /* Keeps the edit icon on the right */
  align-items: center;
}

.fa-pen-to-square {
  color: #09ace0;
  cursor: pointer;
  transition: color 0.3s ease;
}

.fa-pen-to-square:hover {
  color: #007bbf;
}

.patient-owner, .patientApp, .patientSOC {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.event-section {
  display: flex;
  justify-content: space-between; /* Aligns SOC Event and Next Due in one row */
  margin-bottom: 8px;
}

.soc-event, .next-due {
  font-size: 16px;
  color: #333;
  font-weight: bold;
}
