.PatientSidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Ensures proper vertical spacing */
  height: 81vh; 
  min-width: 190px;
  margin: 0;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  flex-grow: 1;
}

.patientImg {
  flex: 1; /* Ensures it expands to fill available space */
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 20vh;
  background-color: grey;
  border-radius: 10px 10px 0 0;
}

.patientImg img {
  margin: 0;
  padding: 10px;
  border-radius: 25%;
  min-height: 15vh;
  min-width: 15vh;
  justify-self: center;
}

.patientName, .patient-body {
  margin: 0 8px;
}

.patient-body {
  flex: 1; /* Allows it to take up remaining space */
  margin-bottom: 5px;
}

.patient-body p {
  margin: 2px 0;
  font-size: small;
}

.patientDemeanor {
  flex: 0.5; /* Expands to fill empty space */
  max-height: 10vh;
}

.demeanor-header {
  margin: 0;
  padding: 0;
  align-items: center;
}

.demeanor-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 5px;
}

.demeanor-container i {
  padding: 5px;
}

.demeanor-container:hover {
  cursor: pointer;
}

.patientDemeanor p {
  margin: 10px 8px;
}

.patient-owner p {
  margin: 2px 8px;
  font-size: small;
}

.owner-name {
  font-weight: bold;
}

.patientApp p {
  margin: 2px 8px;
  font-size: small;
  font-weight: bold;
}

.patientSOC {
  flex: 1; /* Ensures it grows to fill space */
  display: flex;
  flex-direction: column;
  max-height: 10vh;
}

.event-section {
  display: flex;
  flex: 1; /* Takes up remaining space */
  justify-content: space-between;
  background-color: grey;
}

.soc-event {
  flex: 1;
  margin: 0;
}
.SOC-body {
  flex: 1;
  background-color: #ddd;
  border-radius: 0 0 10px 10px;
}

.next-due {
  flex: 1;
  margin: 0;
}

h3 {
  background-color: grey;
  text-align: center;
  color: #fff;
}

.patientDiv {
  background-color: aliceblue;
  padding: 1px;
  border-radius: 12px;
  flex: 1; /* Fills empty space */
}
