.new-patient-page {
  display: flex;
  flex-direction: column;
  padding: 20px;
  height: 100vh;
  overflow-y: auto;
}

.new-patient-header {
  text-align: center;
}

.patient-header {
  display: flex;
  justify-content: flex-start;
}

.patient-tabs {
  display: flex;
  gap: 10px;
}

.tab-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #e6e6e6;
  color: black;
  text-decoration: none;
  transition: background-color 0.3s;
}

.tab-button:hover {
  background-color: #bfbfbf;
}

.new-patient-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.details-section {
  background-color: white;
  padding: 0 20px 20px 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-left: 20px;
}

.clinical-details-section {
  background-color: white;
  padding: 0 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.additional-info-section {
  background-color: white;
  padding: 0 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.new-patient-form input[type="text"],
.new-patient-form input[type="number"],
.new-patient-form input[type="date"],
.new-patient-form input[type="file"],
.new-patient-form textarea,
.new-patient-form select {
  width: 100%;
  padding: 10px;
  margin: 10px 10;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.image-preview-container {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-preview {
  width: 100%;
  max-width: 290px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.input-wrapper {
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
}

.input-wrapper label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.error-message-inline {
  color: red;
  font-size: 0.8em;
  margin-left: 10px;
}

.input-error {
  border: 1px solid red;
}

.input-wrapper.error {
  margin-bottom: 5px;
}

.error-message {
  color: red;
  font-size: 0.8em;
}

.create-patient-button {
  background-color: #09ace0;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: auto;
  margin-bottom: 12px;
}

.create-patient-button:hover {
  background-color: #0a9ecf;
}

@media (max-width: 1200px) {
  .new-patient-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 768px) {
  .new-patient-grid {
    grid-template-columns: 1fr;
  }

  .new-patient-page {
    margin-left: 10;
  }
}
